<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSeek Tracking/Reporting System Totals & Insights Show</title>
</head>
<style>
    .FinSeek_Crypto_Finance_total_show_title_p {
        font-size: 30px;
        border-radius: 30px;
    text-align: center;
    color:white;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
    
        html {
            text-align: center;
            background-image: url("https://imgs.search.brave.com/Jhip99Bh6aIQWyy3RfLhXwsrYpV5TpIwdgt_gTa2G90/rs:fit:1200:952:1/g:ce/aHR0cHM6Ly9pLm1v/cmlvaC5jb20vMjAw/NzAyL2IzMTU0ZDMy/LmpwZw");
            width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        }
    
        p {
            font-size: 25px;
            text-size-adjust: 15px;
            color: #fff;
        }

        h1 {
            font-size: 25px;
            text-size-adjust: 15px;
            color: #fff;
        }

        h2 {
            font-size: 25px;
            text-size-adjust: 15px;
            color: #fff;
        }
    
        div {
            writing-mode: horizontal;
      border: 5px solid yellow;
      border-inline-style:dashed;}

      .crypto_finance_ledger_info {
        writing-mode: horizontal;
      border: 5px solid yellow;
      border-inline-style:dashed;
      }

    </style>
</style>
<div class="crypto_finance_total_show">
<main class="crypto_finance_total_show_main">
    <h2><p class="FinSeek_Crypto_Finance_total_show_title_p"><b><em><u>FinSeek Crypto/Finance Tracking/Reporting System Totals & Insights Information </u></em></b></p></h2> 
    
    <% if(ledger_info.length === crypto_ex.length) { %>
      <%  for(let index=0; index < ledger_info.length; index++) { %>
        <div class="crypto_finance_ledger_totals_index">
            <p class="FinSeek_Crypto_Finance_ledger_totals_id"><em><b>Financial User(s) Ledger Info ID: <%=ledger_info[index].finance_user_id %> & Crypto Exchange ID: <%=crypto_ex[index].crypto_exchange_id %> </b></em></p>
            <p class="FinSeek_Crypto_Finance_ledger_totals1"><b><u>(<%= ledger_info[index].finance_asset_names_1 %> - <%= ledger_info[index].finance_liabilities_names_1 %>)</u></b> = <em> $<%= (ledger_info[index].finance_asset_financial_values_1 - ledger_info[index].finance_liabilities_financial_owedvalues_1) %>.00</em></p>
            <p class="FinSeek_Crypto_Finance_ledger_totals2"><b><u>(<%= ledger_info[index].finance_asset_names_2 %> - <%= ledger_info[index].finance_liabilities_names_2 %>)</u></b> = <em> $<%= (ledger_info[index].finance_asset_financial_values_2 - ledger_info[index].finance_liabilities_financial_owedvalues_2) %>.00</em></p>
            <p class="FinSeek_Crypto_Finance_ledger_totals3"><b><u>(<%= ledger_info[index].finance_asset_names_3 %> - <%= ledger_info[index].finance_liabilities_names_3 %>)</u></b> = <em> $<%= (ledger_info[index].finance_asset_financial_values_3 - ledger_info[index].finance_liabilities_financial_owedvalues_3) %>.00</em></p>
            <p class="FinSeek_Crypto_Finance_crypto_exchange_totals1"><b><u>(<%= crypto_ex[index].crypto_currency_name %> * <%= crypto_ex[index].crypto_currency_quantity %>)</u></b> = <em> $<%=crypto_ex[index].crypto_currency_price * crypto_ex[index].crypto_currency_quantity %>.00</em></p>
            <h2 class="FinSeek_Crypto_Finance_overall_totals"> <u>Overall Totals:  </u><p>$<%=((ledger_info[index].finance_asset_financial_values_1 - ledger_info[index].finance_liabilities_financial_owedvalues_1) + (ledger_info[index].finance_asset_financial_values_2 - ledger_info[index].finance_liabilities_financial_owedvalues_2) + (ledger_info[index].finance_asset_financial_values_3 - ledger_info[index].finance_liabilities_financial_owedvalues_3) + (crypto_ex[index].crypto_currency_price * crypto_ex[index].crypto_currency_quantity))%>.00</p></h2>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
        </script>
    
        <canvas id="myChart"></canvas>
    
        <script>
            var yValues_totals = ['<%- (ledger_info[index].finance_asset_financial_values_1 - ledger_info[index].finance_liabilities_financial_owedvalues_1) %>', '<%- (ledger_info[index].finance_asset_financial_values_2 - ledger_info[index].finance_liabilities_financial_owedvalues_2) %>', '<%- (ledger_info[index].finance_asset_financial_values_3 - ledger_info[index].finance_liabilities_financial_owedvalues_3) %>', '<%- (crypto_ex[index].crypto_currency_price * crypto_ex[index].crypto_currency_quantity) %>'];
            var xValues_totals = ["FinSeek_Ledger_Totals_1", "FinSeek_Ledger_Totals_2", "FinSeek_Ledger_Totals_3", "FinSeek_Crypto_Exchange_Totals"];
            var barColors = ["red", "green","blue","orange"];
    
            new Chart("myChart", {
                type: "pie",
                data: {
                  labels: xValues_totals,
                  datasets: [{
                    backgroundColor: barColors,
                    data: yValues_totals
                  }]
                },
                options: {
                  legend: {display: false},
                  title: {
                    display: true,
                    text: "FinSeek Totals"
                  }
                }
              });
        </script>

    <% } %>
        
   <% } %>
</main>
</div>
<form action="/crypto_finance/ledger_index" method="get" align="center" name="go_to_crypto_finance_ledger_index_form">
    <label>
        <button class="return_to_crypto_finance_ledger_info_index" align="center"><a href="/crypto_finance/ledger_index">Return to Finseek Crypto/Finance Ledger System Home Screen</a></button>
    </label>
</form>

</html>